################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSproject/obj
/CSproject/bin
/CSproject/agregat.db